@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* styles/globals.css or a component-specific CSS file */

/* Keyframes for sliding in from the right */
@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Keyframes for sliding out to the right */
@keyframes slideOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

/* Slide in animation */
.slide-in {
  animation: slideIn 0.5s forwards;
}

/* Slide out animation */
.slide-out {
  animation: slideOut 0.5s forwards;
}
